body {
  font-family: 'Roboto';
  background-image: url('./images/background.jpg');
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heading {
  flex: 1;
  color: white;
  text-shadow: 2px 2px #00000030;
}

/* Buttons */
.rock {
  flex: 1;
  background: rgb(235, 16, 96);
  background: linear-gradient(90deg, rgba(235, 16, 96, 1) 0%, rgba(168, 47, 168, 1) 50%, rgba(235, 16, 96, 1) 100%);
  color: #ffffff;
  border: 5px #ffffff solid;
  border-radius: 12px;
  padding: 32px 32px 32px 32px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 800;
  text-shadow: 2px 2px #00000030;
  transition-duration: 0.3s;
}

.rock:hover:not([disabled]) {
  background: linear-gradient(90deg, rgba(168, 47, 168, 1) 0%, rgba(235, 16, 96, 1) 50%, rgba(168, 47, 168, 1) 100%);
  color: #ffffff;
  text-shadow: 2px 2px #00000030;
  box-shadow: 0 12px 16px 0 #0000003d, 0 17px 50px 0 #00000030;
  cursor: pointer;
}

.rock:disabled {
  background: rgb(56, 56, 56);
  background: linear-gradient(90deg, rgba(56, 56, 56, 1) 0%, rgba(110, 110, 110, 1) 50%, rgba(56, 56, 56, 1) 100%);
  color: #ffffff;
  cursor: not-allowed;
}

.paper {
  flex: 1;
  background: rgb(235, 16, 96);
  background: linear-gradient(90deg, rgba(235, 16, 96, 1) 0%, rgba(168, 47, 168, 1) 50%, rgba(235, 16, 96, 1) 100%);
  color: #ffffff;
  border: 5px #ffffff solid;
  border-radius: 12px;
  padding: 32px 32px 32px 32px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 800;
  text-shadow: 2px 2px #00000030;
  transition-duration: 0.3s;
}

.paper:hover:not([disabled]) {
  background: rgb(168, 47, 168);
  background: linear-gradient(90deg, rgba(168, 47, 168, 1) 0%, rgba(235, 16, 96, 1) 50%, rgba(168, 47, 168, 1) 100%);
  color: #ffffff;
  text-shadow: 2px 2px #00000030;
  box-shadow: 0 12px 16px 0 #0000003d, 0 17px 50px 0 #00000030;
  cursor: pointer;
}

.paper:disabled {
  background: rgb(56, 56, 56);
  background: linear-gradient(90deg, rgba(56, 56, 56, 1) 0%, rgba(110, 110, 110, 1) 50%, rgba(56, 56, 56, 1) 100%);
  color: #ffffff;
  cursor: not-allowed;
}

.scissors {
  flex: 1;
  background: rgb(235, 16, 96);
  background: linear-gradient(90deg, rgba(235, 16, 96, 1) 0%, rgba(168, 47, 168, 1) 50%, rgba(235, 16, 96, 1) 100%);
  color: #ffffff;
  border: 5px #ffffff solid;
  border-radius: 12px;
  padding: 32px 32px 32px 32px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 800;
  text-shadow: 2px 2px #00000030;
  transition-duration: 0.3s;
}

.scissors:hover:not([disabled]) {
  background: rgb(168, 47, 168);
  background: linear-gradient(90deg, rgba(168, 47, 168, 1) 0%, rgba(235, 16, 96, 1) 50%, rgba(168, 47, 168, 1) 100%);
  color: #ffffff;
  text-shadow: 2px 2px #00000030;
  box-shadow: 0 12px 16px 0 #0000003d, 0 17px 50px 0 #00000030;
  cursor: pointer;
}

.scissors:disabled {
  background: rgb(56, 56, 56);
  background: linear-gradient(90deg, rgba(56, 56, 56, 1) 0%, rgba(110, 110, 110, 1) 50%, rgba(56, 56, 56, 1) 100%);
  color: #ffffff;
  cursor: not-allowed;
}

.restart {
  flex: 0.1;
  background: rgb(235, 16, 96);
  background: linear-gradient(90deg, rgba(235, 16, 96, 1) 0%, rgba(168, 47, 168, 1) 50%, rgba(235, 16, 96, 1) 100%);
  color: #ffffff;
  border: 3px #ffffff solid;
  border-radius: 12px;
  padding: 16px 32px 16px 32px;
  margin-bottom: 8px;
  font-size: 16px;
  text-shadow: 2px 2px #00000030;
  transition-duration: 0.3s;
}

.restart:hover:not([disabled]) {
  background: rgb(168, 47, 168);
  background: linear-gradient(90deg, rgba(168, 47, 168, 1) 0%, rgba(235, 16, 96, 1) 50%, rgba(168, 47, 168, 1) 100%);
  color: #ffffff;
  box-shadow: 0 12px 16px 0 #0000003d, 0 17px 50px 0 #00000030;
  cursor: pointer;
}

/* Messages */
.computer-score {
  flex: 1;
  font-size: larger;
  font-weight: 800;
  color: white;
  text-shadow: 2px 2px #00000030;
}

.player-score {
  flex: 1;
  font-size: larger;
  font-weight: 800;
  color: white;
  text-shadow: 2px 2px #00000030;
}

.round {
  flex: 1;
  font-size: larger;
  font-weight: 800;
  color: white;
  text-shadow: 2px 2px #00000030;
}

.result {
  flex: 1;
  font-size: larger;
  color: white;
  text-shadow: 2px 2px #00000030;
}

.end-game {
  flex: 1;
  font-size: larger;
  color: white;
  text-shadow: 2px 2px #00000030;
}
